*{
    margin: 0;
    padding: 0;
    font-family: 'Reggae One', cursive;
}

.news-section{
    /* border: 5px solid black!important; */
    margin: 5rem 0!important;

}

.news{
    padding: 11px!important;
    /* margin: 6px!important; */
}
.nav-sidebar{
    display: block;
}

.nav-sidebar>li{
    text-align: left;
    padding: 1rem!important;
    cursor: pointer;
}
.nav-sidebar>li:hover{
    background-color: rgb(128, 126, 126);
}
.nav-sidebar>li>a{
    /* background-color: antiquewhite; */
    color: #0d1015!important;
    text-decoration: none;
}

@media (max-width:576px){
    .sidebar{
        display: flex;
        justify-content: space-around;
    }
    .nav-sidebar>li{
        text-align: center;
        padding: 0!important;
        cursor: pointer;
    }
}
.main{
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 2px;
}

.dashboardImg{
    border: 1px dotted rgb(173, 173, 173);
    border-radius: 50%;
    text-align: center;
    /* margin: 20px; */
    padding: 1rem;
}
/* 
@media (min-width:576px) and (max-width:768px){
    .dashboardImg{
        margin: 0 1rem;
    }
} */


footer{
    background-color: #212529;
    padding: 5px!important;
    text-align: center;
    color: azure;
}
footer>p{
    margin-bottom: 0!important;
}
.foot{
    float: right;
}

.foot a{
    color: white;

}