body{
    background: url("../images/BGgym.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
    font-size: 1.3rem;      
}
div{
    background-color: rgb(255, 123, 0);
    width: 50%;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    border-radius: 23px;
    font-family: 'Balsamiq Sans', cursive;
    opacity: 1;
}
span{
    font-style: italic;
    color: rgb(255, 255, 255);
}
    button{
padding: 6px 27px;
margin: 2px 6px;
border-radius: 5px;
cursor: pointer;  
font-family: 'Balsamiq Sans', cursive;
    }


